* {
  box-sizing: border-box;
  line-height: normal;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.registration-container, .login-container{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #b2b5ce;
  height: 70vh;
  width: 40%;
  margin: auto;
  margin-top: 50px;
}
.registration-form, .login-form{
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.reg-header, .login-header{
  display: block;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}

.registration-form input, .login-form input{
  width: 30em;
  border: 2px solid;
  border-radius: 5px;
  height: 2.5em;
  position: relative;
  margin: 15px;
}

.registration-form input::placeholder{
  color: #000;
  content: '';
  padding-left: 20px;
}

.registration-form, .login-form input:focus{
  border-color: #132cdc;
}
.alreadyMember, .signUp-Link{
  text-decoration: underline;
  cursor: pointer;
  display: block;
  padding-right: 5px;
  font-size: 16px;
  margin-left: 500px;
  margin-top: 20px;
  
}

.registration-form button{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 8em;
  height: 2em;
  border: none;
  border-radius: 5px;
  position: absolute;
  margin: 50px;
}

.signUp-Link{
  cursor: pointer;
}

body footer{
  display: block;
  width: 100%;
  height: 10%;
  gap: 3;
  background-color: #000;
}


.class{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;  
  margin: auto;
}

.FoodItems{
  display: flex;
  margin: auto;
}


.Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.Container img{
  width: 20rem;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.item-container{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 30rem;
  margin: 30px;
  border-radius: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.RatingBar{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.item-container .name{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.item-container .price{
  font-size: 25px;
}

.Heading{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
}

#heading-span{
  text-transform: capitalize;
}

.main-headings{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: brown;
  
}

.cat-heading{
  font-size: 3rem;
  font-weight: 500;
  color: brown;
}

.switch-btn{
  display: block;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: auto;
  height: 3rem;
  width: 8rem;
  border: none;
  border-radius: 10px;
  background-color: brown;
}

#popular-heading{
  font-size: 5rem;
  font-weight: 700;
  color: #000;
}

#popular-heading span{
  color: brown;
}



/* .form-input{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 20px;
} */

.dhiwise-code,
.dhiwise-navigation {
  min-height: 100%;
}
.common-pointer {
  cursor: pointer;
}
.dhiwise-navigation {
  padding: 20px;
  background-color: #232323;
}
.dhiwise-navigation h1 {
  color: white;
}
.dhiwise-navigation .headline {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}
.dhiwise-navigation ul {
  padding: 0;
}
.dhiwise-navigation ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.dhiwise-navigation a {
  color: #132cdc;
}
table {
  border-spacing: 0;
  width: 100%;
}
.common-select {
  z-index: 10000;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
.drawable-icon{
  position: absolute;
  margin: auto;
  z-index: 1000;
}
.input-wrap{
  position: relative;
}
option{
  color: #000;
}
.table-wrap{
  overflow: auto;
}
input:focus{
  outline:none;
}
.ReactModal__Body--open{
  overflow: hidden;
}
  .slider-indicator:first-child {
    margin-left: 0;
}

.slider-indicator:last-child {
margin-right: 0;
}

.rc-drawer-content-wrapper{
  width: 100% !important;
}
.rc-drawer-right .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-end;
}
.rc-drawer-left .rc-drawer-content-wrapper{
  display: flex;
  justify-content: flex-start;
}
.ReactModal__Overlay{
  z-index: 1051;
}

ul li a{
  display: block;
}

.mobile-menu div{
  height: 1.5px;
  width: 20px;
  background-color: #000;
  margin:4px 0;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.header-row{
  align-items:center;
  justify-content: space-between;
  display: flex;
}
@media only screen and (min-width: 200px) and (max-width: 550px)  {
  .mobile-menu {
    display: block;
  }
  .header-row{
    width: 100% !important;
  }
  .display-block{
    display: block;
  }
  .display-none{
    display: none;
  }
  .common-row-list > ul{
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
}
.menu-close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
}
.menu-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  left: 0px;
  top: 0px;
}
.close-line1{
  transform: translate(0, 6px) rotate(-45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.close-line2{
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.common-row-list > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 1;
}

.common-column-list > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.common-column-list li{
  width: 100%;
}

/* scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}